.btn_a {
  font-size: 14px;
  line-height: 1;
  display: block;
  padding: 12px;
  text-align: center;
  border-radius: 30px;
}

.btn_f {
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 30px;
}

.btn_white_a {
  background: #FFFFFF;
  border: 1px solid #CBCED0;
  color: #8D9399;
  box-shadow: 0 2px 0 #C9C9C9;
}

.btn_blue_a {
  background: #00B8C0;
  color: #FFFFFF;
  box-shadow: 0 3px 0 #00ABB3;
}
