.matching_item
  = link_to group_messages_path(group) do
    .ng-click
      .user_photo
        = image_tag('no-image__man.png')
      .info_inner
        .user_info01
          %span
            =user.nickname
          %span
            = age(user[:birthday])
            歳
          %span
            =user.residence.name
        .user_info02
          / = group.show_last_message
          メッセージを交換していません
        %p.logintime

