-if true
  .right
    .mycomment
      %p
        hiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
    .image
    .sendtime
      1990/05/01
  .right
    .image
      = image_tag('no-image__man.png')
    .sendtime
      1990/05/01
  .left
    .faceicon
      = image_tag('no-image__man.png')
    .chatting
      .says
        %p
          hello
      .image
      .sendtime
        1990/05/01
  .left
    .faceicon
      = image_tag('no-image__man.png')
    .chatting
      .image
        = image_tag('no-image__man.png')
      .sendtime
        1990/05/01

