#height{style:"display:none;"}
  %p.popup_title 身長を選択してください
  %br/
  .dropdown
    %button.btn.btn-default.dropdown-toggle#dropdown-menu1{type: "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "true"}


  =link_to "更新", "#" , class: "button_tweet btn-modal"

#weight{style:"display:none;"}
  %p.popup_title 体型を選択してください
  %br/
  .dropdown
    %button.btn.btn-default.dropdown-toggle#dropdown-menu1{type: "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "true"}


  =link_to "更新", "#" , class: "button_tweet btn-modal"

#blood_type{style:"display:none;"}
  %p.popup_title 血液型を選択してください
  %br/
  .dropdown
    %button.btn.btn-default.dropdown-toggle#dropdown-menu1{type: "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "true"}


  =link_to "更新", "#" , class: "button_tweet btn-modal"



