#height{style:"display:none;"}
  %p.popup_title 身長を選択してください
  =link_to "更新", "#" , class: "button_status dropdown-toggle", id: "dropdownMenuButton", "aria-expanded": "false","aria-haspopup": "true","data-toggle": "dropdown"
  .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
    %a.dropdown-item Action
    %a.dropdown-item Another action
    %a.dropdown-item Something else here



  =link_to "更新", "#" , class: "button_tweet btn-modal"

#weight{style:"display:none;"}
  %p.popup_title 体型を選択してください
  .dropdown
    %button.btn.btn-default.dropdown-toggle#dropdown-menu1{type: "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "true"}


  =link_to "更新", "#" , class: "button_tweet btn-modal"

#blood_type{style:"display:none;"}
  %p.popup_title 血液型を選択してください
  .dropdown
    %button.btn.btn-default.dropdown-toggle#dropdown-menu1{type: "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "true"}


  =link_to "更新", "#" , class: "button_tweet btn-modal"



