#modal1{tabindex:"-1"}
  #overlay.overlay
  #modal.modal
    %button.close{"data-dismiss": "modal", type: "button"}
      = image_tag("button_close.png", class: "button_close", width: "40px")
    .modal-body
      ルール
