#modal_personal-view
  .box_personal-view
    = link_to "", class: "modal_close" do
      = image_tag("button_close.png")
    %ul
      %li.search_title
        あなたの検索条件
    .form
      .search_inner
        %p.box_search-reset
          = link_to "検索条件をリセットする","#", id: "resetSearchBtn", class: "btn_f btn_white_a"
        %table.search_table
          %tbody
            %tr
              %th
                年齢
              %td.search_age
                80歳
            %tr
              %th
                居住地
              %td.search_age
                大阪
            %tr
              %th
                職業
              %td.search_age
                無職
            %tr
              %th
                学歴
              %td.search_age
                中卒
            %tr
              %th
                身長
              %td.search_age
                150cm
            %tr
              %th
                タバコ
              %td.search_age
                吸う
            %tr
              %th
                お酒
                %p.note
                  複数可
              %td.search_age
                飲む
            %tr
              %th
                体型
              %td.search_age
                筋肉質
            %tr
              %th
                年収
              %td.search_age
                180万円
            %tr
              %th
                最終ログイン
              %td.search_age
                オンライン
            %tr
              %th
                同居人
                %p.note
                  複数可
              %td.search_age
                無し
            %tr
              %th
                休日
                %p.note
                  複数可
              %td.search_age
                不定期
            %tr
              %th
                出身地
              %td.search_age
                アメリカ
            %tr
              %td{colspan: "2"}
                アメリカ

