#overlay.overlay

.modal.js-modal{"data-id": "modal-search", style: "width:680px;"}
  %button.close{"data-dismiss": "modal", type: "button"}
    = image_tag("button_close.png", class: "button_close", width: "40px")
  .modal-body
