.overlay#overlay

.modal.js-modal{"data-id": "rule_modal", style:"width:600px;height:500px;"}
  %button.close{"data-dismiss": "modal", type: "button"}
    = image_tag("button_close.png", class: "button_close", width: "40px")
  .modal-body
    ルールだよん

.modal.js-modal{"data-id": "community_modal", style:"width:600px;height:500px;"}
  %button.close{"data-dismiss": "modal", type: "button"}
    = image_tag("button_close.png", class: "button_close", width: "40px")
  .modal-body
    llllllllllllllllll
