.overlay#overlay

.modal.js-modal{"data-id": "modal1"}
  %button.close{"data-dismiss": "modal", type: "button"}
    = image_tag("button_close.png", class: "button_close", width: "40px")
  .modal-body
    ルール

.modal.js-modal{"data-id": "modal2"}
  %button.close{"data-dismiss": "modal", type: "button"}
    = image_tag("button_close.png", class: "button_close", width: "40px")
  .modal-body
    llllllllllllllllll
