.sessions {
  .sessions_box {
    background-color: black;
    width: 300px;
    height: 600px;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 10px;
    .pairs {
      padding-left: 40px;
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .field {
      padding: 0 30px;
      padding-bottom: 15px;
    }
    .check_box {
      font-size: 13px;
      padding-left: 30px;
    }
    .alert {
      padding-top: 50px;
      font-size: 13px;
      padding-left: 30px;
    }
  }
}

.registrations {
  width: 100%;
  height: 100vh;
  padding: 0 100px;

  .registrations_box {
    width: 800px;
    padding-top: 80px;
    // padding-left: 300px;

    .logo_box {
      width: 100%;
      height: 80px;

      .pairs {
        text-align: center;
        // padding-left: 100px;
      }

      .title {
        width: 100px;
        text-align: center;
        display: inline-block;
      }
    }

    .content_left {
      width: 150px;
      height: 200px;
      margin-left: 200px;
      float: left;
    }

    .content_right {
      width: 400px;
      height: 100%;
      float: right;

      .sex_box {
          width: 400px;
          height: 120px;

        .nickname_field {
          width: 200px;
          height: 100px;
          float: left;
        }

        .sex_field {
          width: 150px;
          height: 100px;
          float: left;
        }
      }

      .email_field {
        width: 300px;
        height: 100px;
      }

      .password_field {
        width: 300px;
        height: 100px;
      }

      .submit {
        @include white_button(300px, 50px);

      }
    }
  }
}
