input, select {
  outline: none;
}

/* --- 全体のBOX定義 ---------------------------------------- */

.box {
  position   : relative;
  margin-bottom: 1000px;
  max-width  : 100vw;
  height     : 100vh;
  margin     : auto;
  overflow   : hidden;

  .sessions_box {
    @include devise_box(360px, 650px);
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 80px;
    border-radius: 10px;
    box-sizing: border-box;
    color      : $black;

    .pairs {
      width: 315px;
      padding-left: 40px;
      padding-top: 60px;
      padding-bottom: 40px;
    }

    .sessions_field {
      padding: 0 30px;
      padding-bottom: 15px;
      font-size: 13px;

      .sessions_text {
        @include devise_box(260px, 40px);
        margin-left: 20px;
        margin-bottom: 25px;
        border-radius: 4px;
        outline: none;
        box-shadow: none;
        box-sizing: border-box;
        padding-left: 5px;
        font-size: 13px;
        resize: none;
        outline: none;
      }
    }

    .check_box {
      font-size: 13px;
      padding-left: 30px;
    }

    .sessions_log_in_box {
      @include devise_box(240px, 150px);
      margin: 0 60px;

      .button_log_in {
        @include white_button(240px, 40px);
        background-color: $cyan;
        box-shadow: 0 1px 0 #008B8B;
        font-size: 16px;
        line-height: 1.5;
        border: none;
        color: $white;
      }

      .button_sign_up{
        @include white_button(240px, 40px);
        background-color: #f3f3f3;
        font-size: 16px;
      }

      .alert {
        margin-top: 20px;
        font-size: 14px;
      }
    }
  }
}


.registrations {
  @include devise_box(100%, 100vh);

  .registrations_box {
    @include devise_box(100%, 190px);
    padding-top: 80px;


    .logo_box {
       @include devise_box(600px, 80px);
      margin: 0 auto;

      .pairs {
        @include devise_box(300px, 130px);
      }

      .title {
        width: 290px;
        font-size: 40px;
        vertical-align: -20px;
        display: inline-block;
      }

    .content_left {
      @include devise_box(140px, 400px);
      padding-top: 30px;
      float: left;

      .prof_box#main_avatar_uploader {
        @include devise_box(130px, 139px);
        background-size: 120px;
        background-repeat:no-repeat;
        z-index: 100000;
      }

      .hidden {
        @include devise_box(120px, 139px);
        background-image: image-url("prof-picture.png");
        background-size: 120px;
        background-repeat:no-repeat;
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
        border: none;
        position: relative;
        border: none;
        z-index: 100;

        .avatar_hidden {
          text-indent: -9999px;
        }
      }

      #preview_avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border-style: none;
        position: relative;
        top: -140px;
        z-index: 0;
      }
      .none {
        display: none;
      }
    }

    .content_right {
      @include devise_box(400px, 100%);
      padding-top: 30px;
      float: right;

      .nickname_field {
        @include devise_box(200px, 100px);
        width: 200px;
        height: 100px;
        float: left;

        ::placeholder {
          color: #ccc;
          padding-left: 5px;
        }

        .nickname_box {
          @include devise_box(180px, 50px);
          font-size: 17px;
          background-color: #f8f9f9;
          box-sizing: border-box;
          padding-left: 5px;
          border: none;
        }
      }

      .sex_box {
          width: 400px;
          height: 120px;
        }

        .sex_field {
          @include devise_box(150px, 100px);
          margin-left: 15px;
          float: left;
        }

        .radio_box {
          position: relative;
          display: inline-block;
          cursor: pointer;

          .sex_text {
            display: inline-block;
            border: 1px solid #ccc;
            color: #ccc;
            border-radius: 21px;
            line-height: 36px;
            padding: 0 15px;
            font-size: 18px;
          }

          input[type = radio] {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked {
              + .sex_text {
                border-color: #000;
                color: #000;
              }
            }
          }
        }

      }

      .email_field {
        @include devise_box(300px, 100px);

       ::placeholder {
          color: #ccc;
          padding-left: 5px;
        }

        .email_box {
          @include devise_box(400px, 50px);
          background-color: #f8f9f9;
          box-sizing: border-box;
          padding-left: 5px;
          font-size: 17px;
          border: none;
        }
      }

      .birthday_field {
        @include devise_box(300px, 100px);

        .date_box {
          @include devise_box(80px, 40px);
          font-size: 16px;
          position: relative;
          opacity: 1.0;
          width: 80px;
        }
      }

      .country_field {
        @include devise_box(300px, 100px);

        #registration_region1_id {
          @include devise_box(80px, 40px);
          position: relative;
          font-size: 16px;
          opacity: 1.0;
        }

        #registration_region2_id {
          @include devise_box(150px, 40px);
          position: relative;
          font-size: 16px;
          opacity: 1.0;
        }
      }

      .password_field {
        @include devise_box(300px, 100px);

        .password_box {
          @include devise_box(300px, 40px);
          background-color: #f8f9f9;
          padding-left: 5px;
          border: none;
        }
      }

      .mark_box {
        @include devise_box(400px, 50px);
        margin-right: 50px;
        margin-top: 20px;

        #check_mark {
          @include devise_box(35px, 35px);
          background-image: image-url("mark-off.png");
          background-repeat:no-repeat;
          background-size: contain;
          display: inline-block;
          float: left;
          margin-right: 10px;
          vertical-align: 16px;
          cursor: pointer;

          &.check_on {
            background-image: image-url("mark-on.png");
          }
        }

        .mark_text {
          @include devise_box(290px, 50px);
          display: inline-block;
          vertical-align: 18px;
          font-size: 14px;
        }
      }

      .send_box {
        @include devise_box(300px, 100px);
        margin-top: 20px;
        float: left;

        #pairs_submit {
          @include white_button(400px, 50px);
          line-height: 1.5;
          background-color: #f3f3f3;
          font-size: 17px;

          &.submit_on {
            @include cyan_button(400px, 50px);
            font-size: 17px;
          }
        }
      }
    }
  }
}



/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;   /* 4画像 × 各5s = 20s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image : image-url("lover1.jpg");   /* 背景の画像を指定 */
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.box .src2 {
  background-image : image-url("lover2.jpg");   /* 背景の画像を指定 */
  background-attachment: fixed;
  background-position: center center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  animation-delay  : 5s;
}
.box .src3 {
  background-image : image-url("lover3.jpg");   /* 背景の画像を指定 */
  background-attachment: fixed;
  background-position: center center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  animation-delay  : 10s;
}
.box .src4 {
  background-image : image-url("kiminonaha.jpg");   /* 背景の画像を指定 */
  background-attachment: fixed;
  background-position: center center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  animation-delay  : 15s;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}

/* --- 前面の文字定義（サンプルのため変更してください） ----- */
.box .boxString{
  position   : absolute;
  display    : inline-block;
  padding    : 20px;
            /* 半透明の青 */
  color      : #fff;
  top        : 50%;                               /* 中央寄せ */
  left       : 50%;
  transform  : translate(-50%,-50%);
  height: 100%;
  width: 100%;

}

