@mixin devise_box($width, $height) {
  width: $width;
  height: $height;
}

// mixin--------------------------


$color_text_area: #f8f9f9;

// color変数-----------------------







.sessions {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: $cyan;

  .sessions_box {
    @include devise_box(300px, 600px);
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-left: 100px;
    border-radius: 10px;
    box-sizing: border-box;

    .pairs {
      padding-left: 40px;
      padding-top: 60px;
      padding-bottom: 40px;
    }

    .sessions_field {
      padding: 0 30px;
      padding-bottom: 15px;
      font-size: 13px;

      .sessions_text {
        @include devise_box(230px, 33px);
        border-radius: 4px;
        outline: none;
        box-shadow: none;
        resize: none;
        outline: none;
      }
    }

    .check_box {
      font-size: 13px;
      padding-left: 30px;
    }

    .alert {
      padding-top: 50px;
      font-size: 13px;
      padding-left: 30px;
    }
  }
}

.registrations {
  width: 100%;
  height: 100vh;

  .registrations_box {
    width: 100%;
    height: 190px;
    padding-top: 80px;


    .logo_box {
      width: 600px;
      height: 80px;
      margin: 0 auto;

      .pairs {
        width: 300px;
        height: 130px;
      }

      .title {
        width: 290px;
        font-size: 40px;
        vertical-align: -20px;
        display: inline-block;
      }

    .content_left {
      padding-top: 30px;
      width: 140px;
      height: 400px;
      float: left;

      .prof_box {
        width: 130px;
        height: 139px;
        background-size: 120px;
        background-repeat:no-repeat;
      }

      .hidden {
        background-image: url(prof-picture.png);
        width: 120px;
        height: 139px;
        background-size: 120px;
        background-repeat:no-repeat;
        text-indent: -9999px;
        overflow: hidden;
        outline: none;
        cursor: pointer;
      }
    }

    .content_right {
      padding-top: 30px;
      width: 400px;
      height: 100%;
      float: right;

      .nickname_field {
        width: 200px;
        height: 100px;
        float: left;

        .nickname_box {
          width: 180px;
          height: 50px;
          background-color: #f8f9f9;
          border: none;
        }
      }

      .sex_box {
          width: 400px;
          height: 120px;

        }

        .sex_field {
          width: 150px;
          height: 100px;
          float: left;
        }

        .radio_box {
          position: relative;
          display: inline-block;
          cursor: pointer;

          .sex_text {
            display: inline-block;
            border: 1px solid #ccc;
            color: #ccc;
            border-radius: 21px;
            line-height: 36px;
            padding: 0 15px;
            font-size: 18px;
          }

          input[type = radio] {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked {
              + .sex_text {
                border-color: #000;
                color: #000;
              }
            }
          }
        }

      }

      .email_field {
        width: 300px;
        height: 100px;
      }

      .birthday_field {
        width: 300px;
        height: 100px;

        .date_select {
          position: relative;
          opacity: 1.0;
        }
      }

      .country_field {
        width: 300px;
        height: 100px;

        #registration_region_id {
          position: relative;
          opacity: 1.0;
        }
      }

      .password_field {
        width: 300px;
        height: 100px;
      }

      .send_box {
        width: 300px;
        height: 100px;
        float: left;
        .submit {
          @include white_button(300px, 50px);
        }
      }
    }
  }
}
