.main__content {
  width: 738px;
  min-height: 500px;
  margin-bottom: 50px;
  padding: 20px 0 0 17px;
  box-sizing: border-box;
  display: table-cell;
}

.banner {
  width: 721px;
  height: 70px;
  color: gray;
  display: inline-block;
}

.box__search {
  height: 40px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 15px;
  .search__area {
    float: left;
    a:before {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 5px;
      content: '';
      vertical-align: sub;
      background-image: image-url("icon_sprites.png"),none;
      background-repeat: no-repeat;
      background-position: -208px -43px;
    }
  }
  .search__view {
    float: right;
  }
  .tab__item {
    float: left;
    vertical-align: middle;
  }
}

.tag01 {
  padding: 13px 7px 5px 15px;
  border-top: 1px solid #CBCED0;
  border-bottom: 1px solid #CBCED0;
  border-left: 1px solid #CBCED0;
  border-radius: 30px 0 0 30px;
  a:before {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    content: '';
    background-image: image-url("icon_sprites.png"),none;
    background-repeat: no-repeat;
    background-position: -178px -45px;
  }

}
.tag02 {
  padding: 13px 7px 5px 11px;
  border-top: 1px solid #CBCED0;
  border-bottom: 1px solid #CBCED0;
  border-right: 1px solid #CBCED0;
  border-radius: 0 30px 30px 0;
  a:before {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 19px;
    height: 16px;
    margin-right: 6px;
    content: '';
    background-image: image-url("icon_sprites.png"),none;
    background-repeat: no-repeat;
    background-position: -146px -45px;
  }
}

.search__result {
  padding-top: 15px;
  text-align: center;
}

.grid__header {
  height: 49px;
  background-color: #F3F3F3;
  font-size: 12px;
  margin-bottom: 15px;
  padding: 8px 14px;
  .header__text {
    width: 400px;
    margin: 8px auto 0;
    text-align: center;
  }
  em {
    color:#ed4655;
  }
}

.btn__white {
  color: #8D9399;
  border: 1px solid #CBCED0;
  background-color: #FFFFFF;
  box-shadow: #C9C9C9 0 2px 0;
}

.btn__white--active {
  color: #8D9399;
  border-bottom: 1px solid #CBCED0;
  background-color: #F1F1F1;
  box-shadow: none;
}

.btn__b {
  font-size: 14px;
  line-height: 1;
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
}
