.box_message_inner_left{
  height: 633px;
  width: 300px;
  background-color: red;
  float: left;
  .box_matching_summary{
    height: 34px;
    width: 300px;
    background-color: blue;
    padding: 10px 10px;
    color: #FFF;
  }
  .box_matching_list{
    overflow: scroll;
    .matching_item{
      height: 83px;
      width: 300px;
      background-color: #FFF;
      .ng-click{
        height: 83px;
        width: 300px;
        padding: 14px 10px;
        .user_photo{
          height: 55px;
          width: 55px;
          margin-right: 10px;
          background-color: black;
          float: left;
        }
        .info_inner{
          height: 32px;
          width: 215px;
          background-color: #DDD;
          float:right;
          color: black;
        }
      }
    }
  }
}
.box_message_inner_right{
  height: 1348px;
  width: 434px;
  background-color: green;
  float: right;
}


