.modal-dialog {
  margin: 0 auto;
}
.modal-lg {
  max-width: 680px;
}

.modal-backdrop {
  background-color: rgba(255, 255, 255, 1);
}

#rule_content {
  position: absolute;
  width: 680px;
  top: 30px;
  left: 0px;
  right: 0px;
  margin-bottom: 30px;
  z-index: 2001;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}


.box_modal_inner_rule {
  width: 100%;
  background-color: $white;
  padding: 25px;
  font-size: 14px;
  .modal_rule_title {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    padding-left: 8px;
    color: #788086;
    border-left: 4px solid #788086;
    font-size: 16px;
  }
  .modal_rule_text_b{
    margin-bottom: 20px;

  }
  ul {
    margin: 0 15px 20px 35px;
    li {
      margin-bottom: 5px;


    }
  }
}

#community_content {
  position: absolute;
  width: 680px;
  top: 30px;
  left: 0px;
  right: 0px;
  margin-bottom: 30px;
  z-index: 2001;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.box_modal_inner_community {
  width: 100%;
  background-color: $white;
  padding: 25px;
  .ribbon_title {
    width: 100%;
    margin-bottom: 20px;

  }
  .modal_community_text_a {
    text-align: center;
    margin-bottom: 25px;
  }
  .modal_community_title {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    padding-left: 8px;
    color: #788086;
    border-left: 4px solid #788086;
  }
  .modal_community_img {
    margin-bottom: 30px;
    margin-left: 45px;
  }
}

.ribbon_title {
  display: inline-block;
  position: relative;
  height: 50px;/*リボンの高さ*/
  line-height: 50px;/*リボンの高さ*/
  vertical-align: middle;
  text-align: center;
  padding: 0 30px;/*横の大きさ*/
  font-size: 18px;/*文字の大きさ*/
  background: $cyan;/*塗りつぶし色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
}

.ribbon_title:before, .ribbon_title:after{
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon_title:before{
  top: 0;
  left: 0;
  border-width: 25px 0px 25px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon_title:after{
  top: 0;
  right: 0;
  border-width: 25px 15px 25px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

