@import "./reset";
@import "./body";
@import "./mixin/clearfix";
@import "./modules/header";
@import "./modules/side";
@import "./modules/main";
@import "./modules/userlist";

.wrapper {
  @include clearfix;
  height: 100%;
  width: 928px;
  margin: 0 auto;
}
